#header{
    background:url("../images/headerbg.png") repeat-x scroll 0 0;
    height:105px;
}
#header #headShow{
    position:relative;
    width:990px;
    margin:0 auto;
}
#header .logo{
    float:left;
    margin:0 0 0 10px;
    color:#fff;
    line-height:80px;
}
#header .search{
    left:198px;
    top:20px;
    position:absolute;
}
/*更换皮肤*/
#skin{
    float:right;
    margin:10px;
    padding:4px;
    width:120px;
}
#skin li{
    margin-right:4px;
    width:15px;
    height:15px;
    overflow:hidden;
    display:block;
    cursor:pointer;
    float:left;
    text-indent:-9999px;
    background-image:url("../images/theme.gif");
}
#skin_0{
    background-position:0px 0px;
}
#skin_1{
    background-position:15px 0px;
}
#skin_2{
    background-position:35px 0px;
}
#skin_3{
    background-position:55px 0px;
}
#skin_4{
    background-position:75px 0px;
}
#skin_5{
    background-position:95px 0px;
}
#skin_0 .selected{
    background-position:0px 15px;
}
#skin_1 .selected{
    background-position:15px 15px;
}
#skin_2 .selected{
    background-position:35px 15px;
}
#skin_3 .selected{
    background-position:55px 15px;
}
#skin_4 .selected{
    background-position:75px 15px;
}
#skin_5 .selected{
     background-position:95px 15px;
}
/*导航菜单*/
.mainNav{
    position:absolute;
    top:68px;
    left:0;
    height:37px;
    line-height:37px;
    width:990px;
    z-index:100;
    background:#4a4a4a;
}
.mainNav #caption{
    display:inline;
    float:left;
    margin-left:25px;
}
.mainNav ul li{
    float:left;
    margin-right:14px;
}
.mainNav ul li a{
    display:block;
    padding:0 8px;
    font-weight:700;
    color:#fff;
    font-size:14px;
}

/*导航的二级菜单*/

.jnNav{
    background:#fff;
    border:1px solid #B1B1B1;
    border-top:0;
    overflow:hidden;
    position:absolute;
    top:37px;
    left:0;
    width:474px;
    z-index:1000;
    display:none;
}

.jnNav .subitem{
    float:left;
    height:auto !important;
    min-height:100px;
    padding:10px 20px;
    width:450px;
}

.jnNav .subitem dl{
    border-top:1px dashed #C4C4C4;
    overflow:hidden;
    padding:8px 0;
    float:left;
}

.jnNav .subitem dt{
    font-weight:bold;
    line-height:16px;
    padding:4px 3px;
    text-align:center;
    width:76px;
    float:left;
}

.jnNav .subitem dd{
    padding:0;
    width:364px;
    float:left;
    overflow:hidden;
}
/*网站主体内容*/
#content{
    clear:left;
    margin:0 auto;
    position:relative;
    width:990px;
}
.janeshop{
    height:560px;
    overflow:hidden;
    padding:10px 0;
}
/*侧边栏*/
#jnCatalog{
    float:left;
    height:560px;
    margin:0 11px 0 0;
    overflow:hidden;
    width:187px;
}
#jnCatalog h2{
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:12px;
    text-indent:13px;
    background-color:#6E6E6E;
}
.jnCatainfo{
    border:1px solid #6E6E6E;
    border-style:none solid solid;
    border-width:0 1px 1px;
    height:524px;
    overflow:hidden;
    padding:5px 10px 0;
    width:165px;
}
.jnCatainfo h3{
    border-bottom:1px solid #EEEEEE;
    height:24px;
    line-height:24px;
    width:164px;
    overflow:hidden;
}
.jnCatainfo ul{
    float:left;
    padding:0 2px 8px;
}
.jnCatainfo li{
    color:#AEADAE;
    float:left;
    height:24px;
    line-height:24px;
    width:79px;
    overflow:hidden;
    position:relative;
}
.jnCatainfo li a{
    color:#444;
}
.jnCatainfo li a:hover{
    color:#008CD7;
}
.jnCatainfo li a.promoted{
    color:#F9044E;
}
.jnCatainfo li .hot{
    background:url("../images/hot.gif") no-repeat scroll 0 0 transparent;
    height:16px;
    position:absolute;
    top:0;
    width:21px;
}

/*图片滚动区*/
#jnImageroll{
    float:left;
    height:320px;
    margin:0 11px 0 0;
    overflow:hidden;
    position:relative;
    width:550px;
}
#jnImageroll img{
    position:absolute;
    left:0;
    top:0;
}
#jnImageroll div{
    bottom:0;
    overflow:hidden;
    position:absolute;
    float:left;
}
#jnImageroll div a{
    background-color:#444;
    color:#fff;
    display:inline-block;
    float:left;
    height:32px;
    margin-right:1px;
    overflow:hidden;
    padding:5px 15px;
    text-align:center;
    width:79px;
}
#jnImageroll div a em{
    cursor:pointer;
    display:block;
    height:16px;
    overflow:hidden;
    width:79px;
}
#jnImageroll .last{
    margin:0;
    width:80px;
}
#jnImageroll a.chos{
    background:url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color:#fff;
}
/*最新动态*/
#jnNotice{
    float:left;
    height:321px;
    overflow:hidden;
    width:230px;
}
#jnMiaosha{
    float:left;
    height:176px;
    margin-bottom:10px;
    overflow:hidden;
    width:230px;
}
#jnNoticeInfo{
    border:1px solid #DFDFDF;
    height:133px;
    overflow:hidden;
    width:228px;
}
#jnNoticeInfo h2{
    height:23px;
    line-height:23px;
    border-bottom:1px solid #DFDFDF;
    text-indent:12px;
}
#jnNoticeInfo ul{
    float:left;
    padding:6px 2px 0 12px;
}
#jnNoticeInfo li{
    height:20px;
    line-height:20px;
    overflow:hidden;
}
#jnNoticeInfo li a{
    color:#666;
}
#jnNoticeInfo li a:hover{
    color:#008CD7;

}
/*下边的滚动图片*/
#jnBrand{
    float:left;
    height:230px;
    margin:10px 0 0;
    overflow:hidden;
    width:790px;
}
#jnBrandTab{
    border-bottom:1px solid #E4E4E4;
    height:29px;
    width:790px;
    position:relative;
    float:left;
}
#jnBrandTab h2{
    height:29px;
    line-height:29px;
    left:0;
    /*position:absolute;*/
    width:100px;
}
#jnBrandTab ul{
    position:absolute;
    right:0;
    top:10px;
 }
#jnBrandTab li{
    float:left;
    margin:0 10px 0 0;
}
#jnBrandTab li a{
    background-color:#E4E4E4;
    color:#000;
    display:inline-block;
    height:20px;
    line-height:20px;
    padding:0 10px;
}
#jnBrandTab li a:hover{
    text-decoration:underline;
}

#jnBrandTab .chos{
    background:url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom:3px;
}
#jnBrandTab .chos a{
    background-color:#FA5889;
    color:#fff;
    /*outline:0 none;*/
}
#jnBrandContent{
    float:left;
    height:188px;
    overflow:hidden;
    margin:8px 5px;
    width:790px;
    position:relative;
}
#jnBrandList{
    position:absolute;
    left:0;
    top:0;
    width:3200px;
}
#jnBrandContent li{
    float:left;
    height:188px;
    overflow:hidden;
    padding:0 5px;
    position:relative;
    width:185px;
}
#jnBrandContent li img{
    left:5px;
    position:absolute;
    top:0;
}
#jnBrandContent li span{
    background-color:#EFEFEF;
    bottom:0;
    color:#666;
    display:block;
    font-size:14px;
    height:24px;
    line-height:24px;
    overflow:hidden;
    position:absolute;
    text-align:center;
    width:183px;
}
#jnBrandContent li a{
    color:#666;
}
#jnBrandContent li a:hover{
    color:#008CD7;
}
/*详情页的样式*/
#jnProitem{
    float:left;
    width:312px;
    height:560px;
    display:inline;
}

#jnProitem .jqzoomWrap{
    border:1px solid #BBB;
    cursor:pointer;
    float:left;
    padding:0;
    /*position:relative;*/
}
#jnProitem span{
    clear:both;
    display:block;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
    width:320px;
}
#jnProitem ul.imgList{
    height:80px;
    width:220px;
    overflow:hidden;
}
#jnProitem ul.imgList li{
    float:left;
    margin-right:10px;
    padding-bottom:18px;
}
#jnProitem ul.imgList li img{
    width:60px;
    height:60px;
    padding:1px;
    background:#eee;
    cursor:pointer;
}
#jnProitem ul.imgList li img:hover{
    padding:1px;
    background:#999;
}
/*选项卡切换*/
.tab{
    clear:both;
    float:left;
    height:230px;
    width:310px;
    overflow:hidden;

}
.tab .tab_menu ul{
    clear:both;
    border-bottom:1px solid #E4E4E4;
    height:20px;
}

.tab .tab_menu li{
    float:left;
    margin:0 10px 0 0;

}
.tab .tab_menu a{
    background-color:#E4E4E4;
    color:#000;
    display:inline-block;
    height:20px;
    line-height:20px;
    padding:0 10px;
}
.tab .tab_menu .chos{
    background:url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom:3px;
}
.tab .tab_menu .chos a{
    background-color:#FA5889;
    color:#fff;
    /*outline:0 none;*/
}
.tab .tab_box{
    clear:both;
    border:1px solid #E4E4E4;
    border-style:none solid solid;
    border-width:0 1px 1px;
}
.tab .hide{
    display:none;
}
/*右侧详情页*/
#jnDetails{
    float:left;
    display:inline;
    overflow:hidden;
    width:468px;
    height:560px;
}
#jnDetails .jnProDetail{
    padding:0 10px 10px;
}
#jnDetails .jnProDetail h4{
    /*font-size:100%;*/
    height:18px;
    line-height:18px;
}
#jnDetails .jnProDetail li{
    line-height:25px;
    float:left;
    width:100%;
}
#jnDetails .jnProDetail strong{
    font-weight:400;
}
#jnDetails .jnProDetail .tbDetailPrice strong{
    color:#FF5500;
    font-size:24px;
    padding-right:5px;
}
#jnDetails .jnProDetail .color_change li{
    float:left;
    width:40px;
    margin-right:10px;
}
#jnDetails .jnProDetail .color_change li img{
    width:30px;
    height:30px;
    border:1px solid #BBB;
    padding:1px;
    cursor:pointer;
}
#jnDetails .jnProDetail .color_change li img:hover{
    border:1px solid #f60;
}
#jnDetails .jnProDetail .pro_size li{
    float:left;
    width:30px;
    height:30px;
    border:1px solid #AAA;
    text-align:center;
    line-height:30px;
    margin-right:6px;
    cursor:pointer;
}
#jnDetails .jnProDetail .rating{
    background:url("../images/star-matrix.gif") no-repeat 0 0;
    width:80px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    margin-bottom:20px;
    padding:0;
    /*position:relative;*/
}